<table>
  <tr>
    <td class="header-text">
      <h1>Shuai Fu's Homepage</h1>
      <p>
        Shuai Fu is a second-year PhD student at the Australian Institute for Machine Learning (AIML), The University of Adelaide, advised by <a href="https://scholar.google.co.uk/citations?user=aKXe1FEAAAAJ">Prof. Qi Wu</a>. He is currently working on generative AI, particularly on factual-consistent image generation in generative models. Before starting his PhD, he worked as a research assistant at Southern University of Science and Technology (SUSTech) from 2022 to 2024, supervised by <a href="https://yuzhanghk.github.io/">Prof. Yu Zhang</a>. His broader interests include machine learning, multi-modal learning, and generative AI.
      </p>
      <p style="text-align:center;">
        <a href="fus.jayce@gmail.com">Email</a> &nbsp;/&nbsp;
        <a href="https://scholar.google.com.hk/citations?user=QXoLj2oAAAAJ&hl=zh-CN">Google Scholar</a> &nbsp;/&nbsp;
        <a href="https://github.com/ShyFoo">Github</a>
      </p>
    </td>
    <td class="header-img">
      <img src="/figures/portrait.jpg" alt="profile photo" class="profile-pic">
    </td>
  </tr>
</table>

