<table>
  <tr>
    <td class="header-text">
      <h1>Shuai Fu</h1>
      <p>
        I am a second-year PhD student at Australian Institute for Machine Learning (AIML), Adelaide University, advised by <a href="https://scholar.google.co.uk/citations?user=aKXe1FEAAAAJ">Prof. Qi Wu</a>. I am working on Generative AI, particularly on factual-consistent generaion. Previously, I completed my PhD at [Previous University], . My research interests include neural rendering, 3D reconstruction, and generative AI.
      </p>
      <p style="text-align:center;">
        <a href="mailto:your_email@example.com">Email</a> &nbsp;/&nbsp;
        <a href="#">CV</a> &nbsp;/&nbsp;
        <a href="#">Google Scholar</a> &nbsp;/&nbsp;
        <a href="#">Twitter</a> &nbsp;/&nbsp;
        <a href="#">Github</a>
      </p>
    </td>
    <td class="header-img">
      <img src="https://via.placeholder.com/200" alt="profile photo" class="profile-pic">
    </td>
  </tr>
</table>

