<p>
        Shuai Fu is a third-year PhD student at the Australian Institute for Machine Learning (AIML), Adelaide University (AU), 
        advised by <a href="https://scholar.google.co.uk/citations?user=aKXe1FEAAAAJ">Prof. Qi Wu</a>. 
        He is currently working on <strong>generative AI</strong>, particularly on factual-consistent image generation. 
        Before starting his PhD, he worked as a research assistant at Southern University of Science and Technology (SUSTech) 
        from 2022 to 2024, supervised by <a href="https://yuzhanghk.github.io/">Prof. Yu Zhang</a>. 
        His broader interests include machine learning, transfer learning, vision-language learning, robotics, and world modeling.
</p>
