<section id="News">
  <h2>News</h2>
  <ul>
      <li>
          <strong>[2025.06]</strong> 🎉🎉🎉 One paper accepted to <em>IEEE Transactions on Multimedia (TMM)</em>.
      </li>
      <li>
          <strong>[2024.09]</strong> 🎉🎉🎉 One paper accepted to <em>NeurIPS 2024</em>.
      </li>
      <li>
          <strong>[2024.07]</strong> 🎉🎉🎉 Shuai Fu started his PhD program at <em>Adelaide University (AU)</em>.
      </li>
      <li>
          <strong>[2024.01]</strong> 🎉🎉🎉 One paper accepted to <em>ICLR 2024</em>.
      </li>
      <li>
          <strong>[2023.10]</strong> 🎉🎉🎉 One paper accepted to <em>EMNLP 2023</em>.
      </li>
      <li>
          <strong>[2022.07]</strong> 🎉🎉🎉 Joined the Southern University of Science and Technology (SUSTech) as a Research Assistant.
      </li>
  </ul>
</section>
