<table>
  <tr class="paper-item">
    <td class="paper-img">
      <img src="https://via.placeholder.com/160x100" alt="paper thumbnail">
    </td>
    <td class="paper-content">
      <a href="#" class="paper-title">Counting Hallucinations in Diffusion Models</a>
      <br>
      <strong>Shuai Fu</strong>, Jian Zhou, Qi Chen, Huang Jing, Huy Anh Nguyen, Xiaohan Liu, Zhixiong Zeng, Lin Ma, Quanshi Zhang, Qi Wu
      <br>
      <span class="highlight">Arxiv 2025</span>
      <br>
      <a href="https://arxiv.org/pdf/2510.13080">paper</a> / <a href="https://shyfoo.github.io/CountHallu-ProjectPage/">project page</a> / <a href="https://github.com/ShyFoo/CountHallu-Diff">code</a> / <a href="#">datasets</a>
      <p class="sub-text">
        This work aims to take the first step to quantify hallucination phenomenon in diffusion models from the prospective of counting. 
      </p>
    </td>
  </tr>

  <tr class="paper-item">
    <td class="paper-img">
      <img src="https://via.placeholder.com/160x100" alt="paper thumbnail">
    </td>
    <td class="paper-content">
      <a href="#" class="paper-title">Another Cool Paper Title</a>
      <br>
      Co-author Name, <strong>Your Name</strong>, Advisor Name
      <br>
      <span class="highlight">ICCV 2023</span>
      <br>
      <a href="#">project page</a> / <a href="#">code</a>
      <p class="sub-text">
         A brief description of what makes this research interesting or impactful.
      </p>
    </td>
  </tr>
</table>
