<section id="services">
  <h2>Academic Services</h2>
  
  <h3>Conference Reviewer / Program Committee Member</h3>
  <ul>
      <li>IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR): 2025</li>
      <li>International Conference on Computer Vision (ICLR): 2025 2026</li>
      <li>Annual Conference on Neural Information Processing Systems (NeurIPS): 2025</li>
      <li>International Conference on Machine Learning (ICML): 2025 2026</li>
      <li>AAAI Conference on Artificial Intelligence (AAAI): 2026</li>
      <li>ACL Rolling Review (ARR): 2024 2025</li>
  </ul>
  
  <h3>Journal Reviewer</h3>
  <ul>
      <li>IEEE Transactions on Multimedia (TMM)</li>
      <li>Information Sciences (INS)</li>
      <li>Knowledge-based Systems (KBS)</li>
  </ul>
</section>
