<section aria-labelledby="conference-service-heading" class="academic-service-group">
<h3 id="conference-service-heading">Conference Reviewer / Program Committee Member</h3>
<ul aria-label="Conferences" class="conference-venues">
<li>ICML</li><li>NeurIPS</li><li>ICLR</li><li>CVPR</li><li>ECCV</li><li>AAAI</li><li>ACM MM</li><li>ICRA</li><li>CoRL</li><li>ACL ARR</li>
</ul>
</section>
<section aria-labelledby="journal-service-heading" class="academic-service-group">
<h3 id="journal-service-heading">Journal Reviewer</h3>
<ul aria-label="Journals" class="journal-venues">
<li><span>Transactions on Machine Learning Research</span><span class="journal-abbreviation">TMLR</span></li>
<li><span>IEEE Transactions on Multimedia</span><span class="journal-abbreviation">TMM</span></li>
<li><span>Information Sciences</span><span class="journal-abbreviation">INS</span></li>
<li><span>Knowledge-based Systems</span><span class="journal-abbreviation">KBS</span></li>
</ul>
</section>
