<section id="services">
  <h2>Academic Services</h2>
  
  <h3>Conference Reviewer / Program Committee Member</h3>
  <ul>
      <li>IEEE Conference on Computer Vision and Pattern Recognition (CVPR): 2024, 2025</li>
      <li>International Conference on Computer Vision (ICCV): 2023</li>
      <li>Neural Information Processing Systems (NeurIPS): 2024</li>
  </ul>
  
  <h3>Journal Reviewer</h3>
  <ul>
      <li>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</li>
      <li>International Journal of Computer Vision (IJCV)</li>
      <li>IEEE Transactions on Image Processing (TIP)</li>
  </ul>
</section>
